<?php
// module/Pkb/view/pkb/pkb/index.phtml:

$title = 'My Personal Knowledge Database';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('pkb', ['action' => 'add']) ?>">Add new Pkb</a>
</p>

<table class="table">
<tr>
    <th>Title</th>
    <th>Description</th>
    <th>Created date</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($Pkbs as $Pkb) : ?>
    <tr>
        <td><?= $this->escapeHtml($Pkb->title) ?></td>
        <td><?= $this->escapeHtml($Pkb->description) ?></td>
        <td><?= $this->escapeHtml($Pkb->created_date) ?></td>
        <td>
            <a href="<?= $this->url('pkb', ['action' => 'edit', 'id' => $Pkb->id]) ?>">Edit</a>
            <a href="<?= $this->url('pkb', ['action' => 'delete', 'id' => $Pkb->id]) ?>">Delete</a>
        </td>
    </tr>
<?php endforeach; ?>
</table>